hr {
  display: block;
  margin: 0.5em auto 0.5em auto;
  border-style: inset;
  border-width: 3px;
}

body{
  font-size: 12pt;
}

h1{
  font-size: 24pt;
}

h2{
  font-size: 20pt;
}

h3,h4,h5,h6{
  font-size: 16pt;
}