zzzAdministrative/
WiDNR_Creel.Rproj

## Intermediate or output files not needed in repository
#/LSuperior/LS_Analysis*
/LSuperior/LS_Schedules*
/LSuperior/Helpers/LS_Scheduler_Template.knit.md
/LSuperior/Helpers/LS_Scheduler_Template.utf8.md

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user
