zzzAdministrative/
WiDNR_Creel.Rproj

## Ignored Access databases
/LSuperior/LS_Creel*
## Intermediate or output files not needed in repository
/LSuperior/LS_Analysis*
/LSuperior/LS_OPEN*
/LSuperior/LS_Schedules*
/LSuperior/Helpers/LS_Scheduler_Template.knit.md
/LSuperior/Helpers/LS_Scheduler_Template.utf8.md
/LSuperior/Instructions/*.pdf

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user
