WiDNR_Creel.Rproj

zzzOgleOnly/zzzAdministrative/
## Ignored Access databases
/LSuperior/LS_Creel*
## Intermediate or output files not needed in repository
/LSuperior/LS_ANALYSIS*
/LSuperior/LS_ICE_2*
/LSuperior/LS_OPEN_2*
/LSuperior/LS_SCHEDULES_OPEN_2*
/LSuperior/Helpers/LS_Scheduler_Template.knit.md
/LSuperior/Helpers/LS_Scheduler_Template.utf8.md
/LSuperior/Instructions/*.pdf

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user
